node_modules
storybook-static
public
dist
cypress/videos/*
cypress/screenshots/*

*.iml
.cache
.nyc_output
.history
.idea
.vscode
.DS_Store
lib_old

coverage
.scannerwork

test-report.xml

# stryker temp files
.stryker-tmp
reports

# reports
depcruise.*
