// ---------------------- BASE - BASE ---------------------- //


:root {
  --dds-bg-base: #fff;
  --dds-bg-raised: #F5F8FA;
  --dds-br-surface: 0.6rem;
  --dds-br-pill: 999rem;
  --dds-br-circle: 50%;
  --dds-color-border-base: #D3E0E8;
  --dds-color-border-form: #ced4da;
  --dds-color-bg-form: #fff;
  --dds-color-text-form-placeholder: #6c757d;
  --dds-color-body-base: #5B6870;
  --dds-color-body-weak: #81919C;
  --dds-color-heading: #1F282E;
  --dds-color-blue-05: #5893DB;
  --dds-color-blue-07: #1D5BBF;
  --dds-color-warning-04: #F7B94F;
  --dds-color-magenta-06: #D6246E;
  --dds-color-success-04: #1EC990;
  --dds-color-success-05: #0AA672;
  --dds-color-error-05: #ED5353;
  --dds-color-error-06: #D62433;
  --dds-max-width-md: 76.8rem;
  --dds-max-width-lg: 120rem;
  --dds-size-icon-xxxxs: 1rem;
  --dds-size-icon-xxxs: 1.2rem;
  --dds-size-icon-xxs: 1.4rem;
  --dds-size-icon-xs: 1.6rem;
  --dds-size-icon-sm: 1.8rem;
  --dds-size-icon-md: 2rem;
  --dds-size-icon-lg: 2.4rem;
  --dds-size-icon-xl: 2.8rem;
  --dds-size-icon-xxl: 3.2rem;
  --dds-size-icon-xxxl: 4.8rem;
  --dds-size-icon-xxxxl: 6.4rem;
  --dds-font-size-base: 1.6rem;
  --dds-font-size-sm: 1.4rem;
  --spacing-xxxs: 0.4rem;
  --spacing-xxs: 0.8rem;
  --spacing-xs: 1.2rem;
  --spacing-sm: 1.6rem;
  --spacing-md: 2.4rem;
  --spacing-lg: 3.2rem;
  --spacing-xl: 4rem;
  --spacing-xxl: 4.8rem;
  --spacing-xxxl: 6.4rem;
  --spacing-xxxxl: 9.6rem;
}

a {
  cursor: pointer;
}

.w-10 {
  width: 10%;
}

.w-20 {
  width: 20%;
}

.w-30 {
  width: 30%;
}

.w-40 {
  width: 40%;
}

.w-50 {
  width: 50%;
}

.w-60 {
  width: 60%;
}

.w-70 {
  width: 70%;
}

.w-80 {
  width: 80%;
}

.w-90 {
  width: 90%;
}

.w-100 {
  width: 100%;
}
