/* POPPINS - FONTS - BASE ------------------------------------------- */
@font-face {
  font-family: 'Poppins';
  src: url(./fonts/poppins/poppins.woff2) format('woff2');
}

/* JET BRAINS MONO - FONTS - BASE ------------------------------------------- */

@font-face {
  font-family: 'Mono Font';
  src:
    url(./fonts/jet-brains-mono-font/JetBrainsMono-Regular.woff2),
    url(./fonts/jet-brains-mono-font/JetBrainsMono-Regular.ttf)
      format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Mono Font';
  src:
    url(./fonts/jet-brains-mono-font/JetBrainsMono-Medium.woff2),
    url(./fonts/jet-brains-mono-font/JetBrainsMono-Medium.ttf)
      format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Mono Font';
  src:
    url(./fonts/jet-brains-mono-font/JetBrainsMono-Bold.woff2),
    url(./fonts/jet-brains-mono-font/JetBrainsMono-Bold.ttf) format('truetype');
  font-weight: 700;
  font-style: normal;
}

body {
  height: 100vh;
}

#root {
  height: 100%;
}

/** DOCS ** --------------------------------------------------------------------
------------------------------------------------------------------------------*/

:root {
  --body-color: #5b6870;
  --body-color-weak: #667580;
  --heading-color: #1f282e;
  --link-color: #2a6cbd;
  --content-width: 72rem;
  --content-left-space: 6rem;
}

.sbdocs {
  color: var(--body-color);

  &.sbdocs-wrapper {
    justify-content: flex-start;
    padding-left: var(--content-left-space);
  }

  .sbdocs-content {
    max-width: var(--content-width);
  }
}

.sbdocs-content {
  > div > p,
  > div > ul li,
  > p,
  > ul li {
    font-size: 1.6rem !important;
    line-height: 2.8rem !important;

    ul {
      margin-top: 1rem !important;
    }
  }

  > ul li + li,
  > div > ul li + li {
    margin-top: 1rem !important;
  }

  > h1,
  > h2,
  > h3,
  > h4,
  > h5,
  > div > h1,
  > div > h2,
  > div > h3,
  > div > h4,
  > div > h5 {
    color: var(--heading-color);
    font-weight: bold;
    letter-spacing: -0.01925em;

    > a {
      color: var(--link-color);
      position: absolute;
      left: -4px;
      width: 3rem;
      height: 1.8rem;
      cursor: pointer;

      > svg {
        width: 1.6rem;
        height: 1.6rem;
      }

      &:hover,
      &:focus,
      &:active {
        > svg {
          visibility: visible;
        }
      }
    }
  }

  > h1,
  > div > h1 {
    margin-bottom: 40px;

    + p {
      font-size: 2rem !important;
      line-height: 3.2rem !important;
      font-weight: 300;
      margin-top: -1rem;
      margin-bottom: 4rem;
    }

    + p + h2 {
      margin-top: 5.2rem !important;
    }
  }

  > h2,
  > h2:first-of-type,
  > div > h2,
  > div > h2:first-of-type {
    border: none;
    margin-top: 36px;
  }

  > h3,
  > h3:first-of-type,
  > div > h3,
  > div > h3:first-of-type {
    margin-top: 32px;
  }

  > h4,
  > h4:first-of-type,
  > div > h4,
  > div > h4:first-of-type {
    margin-top: 28px;
  }

  > h5,
  > h5:first-of-type,
  > div > h5,
  > div > h5:first-of-type {
    margin-top: 20px;
  }

  > h6,
  > h6:first-of-type,
  > div > h6,
  > div > h6:first-of-type {
    margin-top: 16px;
  }
}


.sbdocs em {
  font-style: italic;
}

.sbdocs strong {
  font-weight: bold;
}

.sbdocs-a:hover,
.sbdocs-a:focus,
.sbdocs-a:active {
  text-decoration: underline;
}

.sbdocs code,
.sbdocs pre {
  font-family: 'Mono Font', monospace;
}

.sbdocs .sbdocs-ul,
.sbdocs .sbdocs-ul:first-of-type,
.sbdocs .sbdocs-ul:last-child {
  margin: 12px 0;
}

.sbdocs .sbdocs-ul .sbdocs-li + .sbdocs-li {
  margin-top: 8px;
}

/** TABLE **/

.sbdocs-table {
  width: 100%;
  text-align: left;
}

#docs-root .sbdocs-table tr th,
#docs-root .sbdocs-table tr td {
  border: none;
}

#docs-root .sbdocs-table thead tr {
  background-color: #eee;
  color: var(--heading-color);
}

#docs-root .sbdocs-table thead tr {
  border: none;
}

/** TABLE OF CONTENTS **/

.sbdocs .sbdocs-toc__header {
  margin-bottom: 1.6rem;
  font-family: 'Devo Font', sans-serif;
  font-size: 1.2rem;
  line-height: 1.6rem;
  font-weight: 500;
  text-align: left;
  letter-spacing: 0.1325em;
  text-transform: uppercase;
  color: var(--heading-color);
}

.sbdocs.sbdocs-toc {
  left: calc(var(--content-width) + var(--content-left-space) + 6.4rem);

  .toc {
    &-list-item {
      padding: 0.6rem 1rem;
      justify-content: center;
      color: var(--body-color-weak);

      &::before {
        transition: background-color ease 0.1s;
      }

      &:not(.is-active-li):hover {
        color: var(--heading-color);

        &::before {
          background-color: rgba(0, 0, 0, 0.16);
        }
      }

      &.is-active-li {
        a {
          color: var(--heading-color);
          font-weight: 600;
        }
        &::before {
          background-color: var(--heading-color);
        }
      }
    }

    &-link {
      white-space: wrap;
    }
  }
}

.sb-show-main.sb-main-centered #storybook-root {
  flex: 1 1 auto;
}

#storybook-root {
  height: 100%;
}
