.float-panel {
  height: 100%;
  display: flex;
  flex-direction: column;

  .close {
    z-index: 1;
    padding: 5px;

    i {
      cursor: pointer;
    }
  }

  .content {
    flex-grow: 1;

    &.hidden {
      visibility: hidden;
    }
  }
}
